body {
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    background-color: #fff;
    min-width: 1200px;
}

.container8 {
    width: 800px;
    margin: 0 auto;
}

.container1015 {
    width: 1015px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    border: 2px solid #834700;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #834700;
    padding: 13px 20px;
    background-color: #fff;
}

/* header */

.header {
    margin: 0;
    padding-top: 60px;
    min-height: 550px;
    background: url(img/wheat-back.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: brown;
    color: #fff;
}

.header-top {
    margin-bottom: 120px;
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
}

.menu {
    padding: 15px 0 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0;
    margin-top: 10px;
    float: right;
    width: 602px;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu li {
    float: left;
    margin-right: 55px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    color: #ffcb78;
}

.menu a:active {
    color: rgba(255, 203, 120, 0.3);
}

.promo {
    font-size: 70px;
    line-height: 70px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
}

/* new */

.new {
    margin-top: 95px;
    margin-bottom: 110px;
}

.section-header {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.new .section-header {
    margin-bottom: 95px;
}

.catalog-item h3{
    font-family: "Arial", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0 44px 0;
}

.catalog-item {
    position: relative;
    float: left;
    width: 340px;
    padding-left: 34px;
    margin-right: 24px;
    margin-top: 0;
    border-left: 1px solid #e5e5e5;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item img {
    padding-left: 10px;
}

.catalog-item table {
    position: absolute;
    right: 0px;
    width: 150px;
    top: 80px;
    border-collapse: collapse
}

.catalog-item .table-text {
    font-size: 14px;
    line-height: 24px;
    color: #404040;
    width: 150px;
    position: absolute;
    right: 0px;
    top: 160px;
}

.catalog-item td {
    padding: 5px 15px 5px 10px;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-weight: bold;
}

.catalog-item .description-text {
    font-size: 16px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: #404040;
    width: 330px;
    margin: 0px 0 60px 0;
}

.btn-buy {
    background-color:#834700;
    color: #fff;
}

.catalog-item b {
    padding: 15px 0 15px 20px;
}

/* advantages */

.advantages {
    background-color: #ffcb78;
    padding: 80px 0 95px 0;
}

.advantages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-item {
    text-align: left;
    border-left: 1px solid #e5b66c;
    padding-top: 85px;
    float: left;
    width: 209px;
    padding-left: 95px;
    padding-right: 95px;
}

.advantages-item:first-child {
    border-left-color: rgba(255, 255, 255, 0);
    padding-left: 0;
}

.advantages-item:last-child {
    padding-right: 0;
}

.advantages-item h2 {
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.advantages-item p {
    margin: 0;
    padding: 0;
    color: #404040;
}

.advantages-sam {
    background: url(img/icon-brew.png) top left no-repeat;
}

.advantages-svoj {
    background: url(img/icon-matreshka.png) 95px 0px no-repeat;
}

.advantages-econom {
    background: url(img/icon-thumbsup.png) 95px 0px no-repeat;
}

/* history */

.history .section-header {
    margin-top: 95px;
    margin-bottom: 75px;
}

.history-title {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.history-source {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    float: right;
}

.history-source a {
    color: #834700;
}

.history-source a:hover {
    color: #6a3900;
}

.history-source a:active {
    color: #cab7a2;
}

dd img {
    float: right;
    margin-left: 110px;
    margin-top: 10px;
}

dd {
    margin: 0 0 30px 0;
    padding: 0;
}

dd p {
    color: #404040;
    margin-bottom: 60px;
}

/* press */

.press {
    background-color: #ede5d8;
}

.press .section-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

.press blockquote {
    margin: 0px;
    padding: 0px;
}

.press blockquote cite {
    float: right;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}