body {
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    background-color: #fff;
    min-width: 1200px;
}

.container8 {
    width: 800px;
    margin: 0 auto;
}

.container1015 {
    width: 1015px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    margin: 0;
    padding-top: 60px;
    min-height: 550px;
    background: url(img/wheat-back.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: brown;
    color: #fff;
}

.header-top {
    margin-bottom: 120px;
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
}

.menu {
    padding: 15px 0 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0;
    margin-top: 10px;
    float: right;
    width: 602px;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu li {
    float: left;
    margin-right: 55px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    color: #ffcb78;
}

.menu a:active {
    color: rgba(255, 203, 120, 0.3);
}

.promo {
    font-size: 70px;
    line-height: 70px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
}

.new {
    margin-top: 95px;
    margin-bottom: 110px;
}

.section-header {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 95px;
}

.catalog-item h3{
    margin: 0 0 30px 0;
    font-family: "Arial", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

.catalog-item {
    position: relative;
    float: left;
    width: 340px;
    padding-left: 30px;
    margin-right: 25px;
    border-left: 1px solid #e5e5e5;
}

.catalog-item table {
    position: absolute;
    right: 0px;
    width: 150px;
    border-collapse: collapse
}

.catalog-item .table-text {
    width: 150px;
    position: absolute;
    right: 0px;
    top: 160px;
}

.catalog-item td {
    padding: 5px 15px 5px 10px;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-weight: bold;
}

.catalog-item p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #535352;
}












.advantages {
    background-color: #ffcb78;
    padding: 80px 0 95px 0;
}

.advantages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-item {
    text-align: left;
    border-left: 1px solid #e5b66c;
    padding-top: 85px;
    float: left;
    width: 209px;
    padding-left: 95px;
    padding-right: 95px;
}

.advantages-item:first-child {
    border-left-color: rgba(255, 255, 255, 0);
    padding-left: 0;
}

.advantages-item:last-child {
    padding-right: 0;
}

.advantages-item h2 {
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.advantages-item p {
    margin: 0;
    padding: 0;
    color: #6b5939;
}

.advantages-sam {
    background: url(img/icon-brew.png) top left no-repeat;
}

.advantages-svoj {
    background: url(img/icon-matreshka.png) 95px 0px no-repeat;
}

.advantages-econom {
    background: url(img/icon-thumbsup.png) 95px 0px no-repeat;
}
